<!DOCTYPE html>
<html>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<title>Page Title</title>
	<link rel="stylesheet" href="assets/css/main.css"/>
<body>

	<div class="grid" ng-app="myApp" ng-controller="myCtrl">
		<header class="item1 bordered">
			<h1>Quiz: Scale Degrees</h1>
		</header>

		<div class="item2 bordered">
			<section id="mode-selection">
				<header>
					<h3>Quiz Modes</h3>
				</header>
				<div id="mode-options">
					<label>
						<input type="radio" name="test-mode" value="cats" checked/>
						Scale Degree &rarr; Note
					</label>

					<br/>

					<label>
						<input type="radio" name="test-mode"/>
						Note &rarr; Scale Degree
					</label>

					<br/>

					<label>
						<input type="radio" name="test-mode"/>
						Both
					</label>
				</div>
			</section>

			<section id="key-selection">
				<header>
					<h3>Keys</h3>
				</header>

				<div class="flex">
					<section>
						<label>
							<input type="checkbox" value="C" checked ng-click="alterActiveKeys($event)"/>C
						</label>

						<br/>

						<label>
							<input type="checkbox" value="D" checked ng-click="alterActiveKeys($event)"/>D
						</label>

						<br/>

						<label>
							<input type="checkbox" value="E" checked ng-click="alterActiveKeys($event)"/>E
						</label>

						<br/>

						<label>
							<input type="checkbox" value="F" checked ng-click="alterActiveKeys($event)"/>F
						</label>

						<br/>

						<label>
							<input type="checkbox" value="G" checked ng-click="alterActiveKeys($event)"/>G
						</label>

						<br/>

						<label>
							<input type="checkbox" value="A" checked ng-click="alterActiveKeys($event)"/>A
						</label>

						<br/>

						<label>
							<input type="checkbox" value="B" checked ng-click="alterActiveKeys($event)"/>B
						</label>
					</section>

					<section>
						<label>
							<input type="checkbox" value="Db" checked ng-click="alterActiveKeys($event)"/>Db
						</label>

						<br/>

						<label>
							<input type="checkbox" value="Eb" checked ng-click="alterActiveKeys($event)"/>Eb
						</label>

						<br/>

						<label>
							<input type="checkbox" value="Gb" checked ng-click="alterActiveKeys($event)"/>Gb
						</label>

						<br/>

						<label>
							<input type="checkbox" value="Ab" checked ng-click="alterActiveKeys($event)"/>Ab
						</label>

						<br/>

						<label>
							<input type="checkbox" value="Bb" checked ng-click="alterActiveKeys($event)"/>Bb
						</label>
					</section>
				</div>

			</section>
		</div>

		<div class="item3 bordered">

			<section>
				<h2 class="bordered">Question</h2>

				<table id="question-table">
					<tr>
						<td>
							<h3>Key</h3>
						</td>

						<td>
							<h3>Scale Degree</h3>
						</td>
					</tr>

					<tr>
						<td>
							<h3>{{keySelection}}</h3>
						</td>

						<td>
							<h3>{{scaleDegreeSelection}}</h3>
						</td>
					</tr>
				</table>

			</section>

			<section>
				<h2 id="answer-banner" class="bordered">Answer</h2>

				<section id="answer-subsection">
					<input id="answer-input" type="text" ng-model="answer" ng-keypress="checkAnswer($event)"><br>
					<input id="answer-submit" type="button" value="Submit" ng-click="checkAnswer()"><br>
				</section>
			</section>

			<h1 id="result-icon">&#x2713;</h1>

			<section id="help-table-container">
				<input id="help-btn" type="button" value="Show Help" ng-model="helpBtn" ng-click="toggleHelpTable()"><br>

				<table id="help-table">
					<tr>
						<th><h2>Key</h2></th>
						<th><h2>1</h2></th>
						<th><h2>2</h2></th>
						<th><h2>3</h2></th>
						<th><h2>4</h2></th>
						<th><h2>5</h2></th>
						<th><h2>6</h2></th>
						<th><h2>7</h2></th>
					</tr>

					<tr ng-repeat="(key, scaleDegrees) in data">
						<td>{{ key }}</td>
						<td>{{ scaleDegrees["1"] }}</td>
						<td>{{ scaleDegrees["2"] }}</td>
						<td>{{ scaleDegrees["3"] }}</td>
						<td>{{ scaleDegrees["4"] }}</td>
						<td>{{ scaleDegrees["5"] }}</td>
						<td>{{ scaleDegrees["6"] }}</td>
						<td>{{ scaleDegrees["7"] }}</td>
					</tr>
				</table>
			</section>
		</div>

		<div class="item4 bordered">
			<p>footer</p>
		</div>
	</div>

	<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="assets/js/angular-1.7.8.min.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>

</body>
</html>
