
* {
	box-sizing: border-box;
	margin: 0px 0px;
	padding: 0px 0px;
}

body {
	background-color: #666666;
}

body * {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 700px) {

	body * {
		font-size: 23px;
	}
}

main {
	margin: 0px 5px;
	margin-bottom: 2em;
}

section header {
	border: 2px solid #000000;
	/* border-radius: 5px; */
	background-color: #777777;
}

h1, h2, h3 {
	padding: 10px 10px;
	text-align: center;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
}

h4 {
	font-size: 1.15em;
}

table {
	margin: 10px auto;
}

#help-table {
	width: 70%;
	border-collapse: collapse;
}

#help-table td, #help-table th {
	border: 2px solid #000000;
	padding: 10px 10px;
	text-align: center;
}

input[type="radio"], input[type="checkbox"] {
	margin: 10px 10px;
	margin-left: 15px;
	text-align: center;
}

input[type="text"] {
	margin: 5px 5px;
	padding: 5px 5px;
}

label {
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid {
	display: grid;
	grid-template-columns: 10% 10% auto auto auto auto;
	grid-template-rows: auto auto auto auto;
	grid-template-areas:
		'header header header header header header'
		'menu menu main main main main'
		'menu menu main main main main'
		'footer footer footer footer footer footer';
	/* grid-gap: 10px; */
	padding: 10px;
}

.flex {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: flex-start;
}

.bordered {
	border: 2px solid #000000;
	/* border-radius: 5px; */
}

#mode-options {
}

#answer-input {
	width: 100%;
	margin: 5px 5px;
}

#result-icon {
	opacity: 0;
}

#help-table-container {
	text-align: center;
}

#help-table {
	display: none;
}

#answer-subsection {
	margin: 0px 20%;
	text-align: right;
}

@media only screen and (min-width: 700px) {

	main {
		margin: 0px 20%;
	}

}

